body {
  background: rgb(22, 22, 22);
  color: rgb(199, 199, 199);
  font-size: 200%;
}
p2 {
  /* color: rgb(255, 255, 255); */
  font-size: 80%;
}
h1 {
  font-weight: normal;
  color: rgb(255, 255, 255);
}
coolfont {
  font-family: monospace;
}
coolfont.padded {
  font-weight: bolder;
  padding-left: 50px;
}